.item-group.js-row-collapse.row-collapse
  %h4.item-group-title.js-row-collapse-trigger.row-collapse-trigger
    = title
  - if level[key].present?
    %ul.item-group-list.js-row-collapse-content.row-collapse-content
      - level[key].each do |benefit|
        %li.item-group-item
          = benefit

